<td class="table-danger"><%= contact_log.error_message %></td>
<td><%= contact_log.name %></td>
<td><%= contact_log.date_of_birth %></td>
<td><%= contact_log.phone %></td>
<td><%= contact_log.address %></td>
<td>...<%= contact_log.credit_card[-4..] %></td>
<td><%= contact_log.cc_last_four_numbers %></td>
<td><%= contact_log.credit_card_network %></td>
<td><%= contact_log.email %></td>
  <td><%= contact_log.csv_file.name %></td>
<td><%= contact_log.created_at %></td>
