<td><%= contact.name %></td>
<td><%= contact.date_of_birth %></td>
<td><%= contact.phone %></td>
<td><%= contact.address %></td>
<td>...<%= contact.credit_card[-4..] %></td>
<td><%= contact.cc_last_four_numbers %></td>
<td><%= contact.credit_card_network %></td>
<td><%= contact.email %></td>
<td><%= contact.csv_file.name %></td>
<td><%= contact.created_at %></td>
